@keyframes rainbowBorder {
  0% {
    border-image: linear-gradient(45deg, #ff00ff, #00ffff, #ff00ff, #00ffff) 1
      stretch;
    border-image-slice: 1;
    border-image-outset: 1;
  }
  25% {
    border-image: linear-gradient(135deg, #00ffff, #ff00ff, #00ffff, #ff00ff) 1
      stretch;
    border-image-slice: 1;
    border-image-outset: 1;
  }
  50% {
    border-image: linear-gradient(225deg, #ff00ff, #00ffff, #ff00ff, #00ffff) 1
      stretch;
    border-image-slice: 1;
    border-image-outset: 1;
  }
  75% {
    border-image: linear-gradient(315deg, #00ffff, #ff00ff, #00ffff, #ff00ff) 1
      stretch;
    border-image-slice: 1;
    border-image-outset: 1;
  }
  100% {
    border-image: linear-gradient(45deg, #ff00ff, #00ffff, #ff00ff, #00ffff) 1
      stretch;
    border-image-slice: 1;
    border-image-outset: 1;
  }
}

.postItem {
  position: relative;
  border: 2px solid transparent;
  background-clip: padding-box;
  border-radius: 1rem;
}

.postItem:hover,
.forceRainbow {
  animation: rainbowBorder 3s linear infinite;
  border: 2px solid;
  background-clip: padding-box;
  box-shadow: 0 0 20px rgba(255, 0, 255, 0.3);
  border-radius: 1rem;
  overflow: hidden;
}

.postItem > div {
  background: white;
  border-radius: calc(1rem - 2px);
  height: 100%;
  width: 100%;
}
